<!DOCTYPE html>
<html ng-app="form">

<head>

<meta charset="utf-8">
<title>Registration</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<!--<link href="/css/reg.css" rel="stylesheet" type="text/css">-->
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script> 
<script src="controllers/form.js"></script>
</head>

<body ng-controller="mainController">
    <div class="container">
    <div class="row">
  	<div class="col-md-6">
  	<p><a href="#register">Register</a></p>
    <div ng-view></div>
    </body>
</html>