<!DOCTYPE html>
<html ng-app="form">

<head>

<meta charset="utf-8">
<title>Registration</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<!--<link href="/css/reg.css" rel="stylesheet" type="text/css">-->
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>


<script>
var form = angular.module('form', ["ngRoute"]); 

form.config(function($routeProvider) {
    $routeProvider
    .when("/login", {
        template : "views/Login.ejs",
        controller:'mainController';
    }) 
    
});

function mainController($scope, $http) {
  
    $scope.formData = {};   

    $http.get('/').success(function(data) {
            $scope.newUser = data;
            console.log(data);
        })
        .error(function(data) {
            console.log('Error: ' + data);
        });
    
    $scope.create = function() {
        $http.post('/', $scope.formData)
            .success(function(data) {
                $scope.formData = {}; 
                $scope.newUser = data;
                console.log(data);
            })
            .error(function(data) {
                console.log('Error: ' + data);
            });
    };
    
    $scope.delete = function(id) {
        $http.delete('/' + id)
            .success(function(data) {
                $scope.newUser = data;
                console.log(data);
            })
            .error(function(data) {
                console.log('Error: ' + data);
            });
    };

}
</script>
</head>

<body ng-controller="mainController">
    <div class="container">
  <div class="row">
  	<div class="col-md-6">
    <div ng-view></div>
    
          <form class="form-horizontal" action="" method="POST">
          <fieldset>
            <div id="legend">
              <legend class="">Register</legend>
            </div>
            <div class="control-group">
              <label class="control-label" for="username">Username</label>
              <div class="controls">
                <input type="text" id="username" name="username" placeholder="" class="form-control input-lg" ng-model="formData.username">
                <p class="help-block">Username can contain any letters or numbers, without spaces</p>
              </div>
            </div>
         
            <div class="control-group">
              <label class="control-label" for="email">E-mail</label>
              <div class="controls">
                <input type="email" id="email" name="email" placeholder="" class="form-control input-lg">
                <p class="help-block" ng-model="formData.email">Please provide your E-mail</p>
              </div>
            </div>
         
            <div class="control-group">
              <label class="control-label" for="password" ng-model="formData.password">Password</label>
              <div class="controls">
                <input type="password" id="password" name="password" placeholder="" class="form-control input-lg">
                <p class="help-block" ng-model="formData.password">Password should be at least 6 characters</p>
              </div>
            </div>         
             
              <div class="controls">
                <button class="btn btn-success" ng-click="create()">Register</button> <a href="#login"><i class="fa fa-home"></i> Login</a>
              </div>
            </div>
          </fieldset>
        </form>
    
    </div> 
  </div>
</div>


</body>
</html>